body{
	font-family: 'Raleway', sans-serif; /* la police utilisée */
	font-size: 1rem; /* la taille de la police */

}

#wrapper{
	margin: 0;
	max-width: 1300px;
}
/* < DEBUT DE LA TETE Inscription > */
/* DIV entiere */


/* la tete entiere */
header{
	display: flex;
}


#inscription { /* les 3 liens ensemble */ 
	display: flex;
	justify-content: flex-end;
	padding-top: 2rem  ; /* la marge au dessus des liens d'inscriptions */
	width: 100%;
}



#inscription a{ /* ce qu'on voit sur les 3 liens la couleur d'ecriture, pas soulignée etc.. */
	color: black;
	text-decoration: none; /* pas de soulignement */ 
}


#inscription nav a:hover{ /* le survol sur les 3 liens */
	color: #0065FC;
	border-top: 0.18rem solid #0065FC;
	padding-top: 2.3rem; /* la marge qu'il y'a entre les liens et le trait au survol */


}


#heber{
	padding-right: 0.5rem; /* la marge INTERIEUR sur les cotés de la categorie Hébergements */
}


#act{
	/* la marge INTERIEUR sur les cotés de la categorie Activités */
	padding: 2.5rem;
}



/* S'INSCRIRE */

#inscrire {
	font-weight: bold; /* gras */
	color: #0065FC;
	padding: 1rem; /* marge interieur */ 
	
}



header img{
	width: 10%;
	padding-top: -10px;

}

/* < FIN DE LA TETE > */



/* le logo reservia */
#reservia{

	width: 6rem;
	margin-top: 1rem;

}


h1 {
	text-align: left;
	font-size: 1.3rem;
	margin: 1px;
	margin-top: 1.5rem;

}



/* en plein centre ville ou en pleine nature */
#info{
	font-size : 0.9rem; /* la taille de l'ecriture */
	margin : 0.5rem 0rem 0.5rem 0rem; /* la marge exterieur entre le H1 et la recherche et de 0.5 en haut et en bas */ 

}



/* le bouton rechercher */
#rechercher{

	color: white;
	padding : 0.75rem 0.8rem 0.75rem 0.8rem ; /* l'ecart du bleu entre le rechercher et les contours */
	border-radius: 0rem 0.8rem 0.8rem 0rem; /* mettre un cadre autour */
	border-color:  #0065fc; /* les contours, les bordures sont bleu */
	background-color: #0065fc; /* la couleur de fond est bleu */
	cursor: pointer;
	margin-left: -0.1em;
}



/* pour telephone*/
#loupe{
	color: white;
	padding : 0.75rem 0.8rem 0.75rem 0.8rem ; /* l'ecart du bleu entre le rechercher et les contours */
	border-radius: 0rem 0.8rem 0.8rem 0rem; /* mettre un cadre autour */
	border-color:  #0065fc; /* les contours, les bordures sont bleu */
	background-color: #0065fc; /* la couleur de fond est bleu */
	cursor: pointer;
	margin-left: -0.1em;
	display: none; /* indique que la loupe ne se voit pas mais dans la partie media j'indiquerais que ca s'affiche*/
}

#loupe .fa-search{
	color: white;
}

/* logo noir recherche */ 
#localisation{
	background-color : #F2F2F2 ;
	padding : 0.91rem 0.97rem 0.97rem 0.97rem ; /* largeur interieur du gris a l'arriere du logo */
	border-radius : 1rem 0 0 1rem ; /* les contours gris du logo */ 
	color: black;
}

/* la barre de recherche */
#ville{
	padding : 0.75rem ;
	border : 0.15rem solid #F2F2F2;
	border-radius : #F2F2F2 ;
	margin : -0.25rem ;
	font-weight: bold;

}

/* TOUTE LA CATEGORIE FILTRES */
#filtres{
	display: flex;
	margin-right: 1rem;
	align-items: center;

}


/* couleur de fonnd des filtres en bleu ciel */
#filtres :hover{ 
	background-color: #DEEBFF;

}

/* Marge exterieur du Titre et Filtres */
#filtres h3 , p{
	margin-right: 1rem;

}


/* les 4 onglets du filtres Eco Familial Roman Animaux */
#filtres p{
	display: flex;
	font-weight: bold;
	border: 0.15rem solid #F2F2F2; /* l'encadrement, la bordure avec une taille specifique que j'ai choisi */
	border-radius:2rem;
	height: 2.215rem; /* la hauteur de l'encadrement, la bordure */
	padding: 0rem 1rem 0rem 0rem ; /* Marge interieur de l'encadrement, la bordure */
	margin-left: 0.8rem; /* la marge , l'ecart entre les categories de filtres */
	align-items: center; /* aligné les noms des filtres */ 
	cursor: pointer;
}

/* Les < i > de la categorie filtres */
#filtres i{

	margin:0.5rem 0.5rem 0.5rem -0.3rem; /* l'emplacement du rond dans le cadre, et l'ecart interieur entre le rond et le texte */
	background-color: #DEEBFF; /* couleur de fond du rond */
	padding :0.8rem ; /* marge interieur du rond par rapport au logo interieur */
	border-radius: 2rem;
	align-items: center;

}




.fas{ /* les logos en bleu */
	color :#0065fc;

}

.fa-child{

	padding: 2rem 1rem;

}

/* le i dans la bordure */
#logements i{
	border: 0.15rem solid #F2F2F2; /* contour du i */
	border-radius: 2rem ; /* contour rond */
	margin-right: 0.5rem ;
	padding: 0.2rem 0.4rem 0.25rem 0.4rem;
	align-items: center;
}


/* plus de 500 log .. */
#logements p{
	display: flex;
	width: 70%;
}



#bloc_resultats{
	display: flex;
	width: 100%;
	margin-bottom: 3rem;
}



/* Section HEBERGEMENT a MARSEILLE 1 */


/* Toute la section */
#Hebergements{

	background-color: #F2F2F2; /* couleur grise de l'arriere plan */
	width: 70%; /* taille du bloc HEBERGEMENT */
	border-radius: 1rem;
	margin-right: 2.5%; /* ecart entre le bloc heber et popu */
	padding: 1rem;
}


/* images details ( taille bordure etc*/
#Hebergements img{ 
	
	width: 14.5rem ; /* largeur des images */
	height: 7rem; /* hauteur des images */
	border-radius: 1rem; /* contour des images */
	background-color: white; /* arriere plan des images*/
	border: 0.3rem white solid; /* contour de l'arriere plan des images */
	box-shadow: 0.5rem 0.5rem 0.5rem #d2d3d3;
	padding: 0rem 0rem 4rem 0rem; /* marge interieure des contours des images */
	object-fit: cover; 
	margin: 1rem 0 0 2rem;
}



#Hebergements a{ /* pas de soulignement */

	text-decoration: none;

}



/* titre Hebergement a Marseille */
#Hebergements h2{

	font-size: 1.2rem;
	margin-bottom: 0.5rem; /* espace entre le titre et les images */
	padding-left: 1rem;
}



/* titre des Images */ 
#Hebergements h3{

	font-size: 14px; /* taille du titre sous l'image */
	text-align: left ;
	margin-bottom: -0.7rem;
	margin-top: -5rem;
	color: black;
}



/* prix et note de la description */
#Hebergements p{

	color: black;
	font-size: 0.8rem;
}



#Hebergements figcaption{
	margin-left: 0.5rem; /* emplacement du bloc de description des images */
	
	}


/* etoiles */
#Hebergements .fa-star {
	font-size: 0.6rem; /* taille */
	padding: 0.5rem 0 0 0;
}



/* le groupe d'images */
#img-heber{

	display: flex;
	flex-wrap: wrap; /* passe a la lignes si il n'y a plus de place */
	margin-left: -1.7rem;
}


#afficherplus a, #afficherplus a:visited{

	color: black;
	font-weight: bold;
	font-size: 1rem;
}



#afficherplus{

	margin: 2% 0 0 2%;
}




/* Aside 2 LES plus POPULAIRES */


#populaires{

	width: 30% ; /* largeur des images */
	 /* hauteur des images */
	border-radius: 1rem; /* contour des images */
	background-color: #F2F2F2; /* arriere plan des images*/
	border: 0.3rem #F2F2F2 solid; /* contour de l'arriere plan des images */
	padding: 0rem 1.2rem 1rem 0rem; /* marge interieure des contours des images */
	
}



/* toutes les images */
#populaires img{

	border-radius: 1rem 0 0 1rem;
	margin-right: 1rem; /* marge entre l'image et le texte */
	width : 100%;
	height: 9rem; /* taille des images interieur */ /* pas a la meme taille */
	object-fit: cover;
	max-height: 10rem;


}




#populaires h2{

	font-size: 1.2rem;
	margin-left: 2.5%;

}


/* le <i> de <H2> flotte, reste q droite */
#populaires h2 i{

	float: right;
}

#populaires #img-popu{
	margin-top: 1.5rem;
}


/* logo bourse */
.fa-chart-line{

	color:black;
	font-size: 1.2rem;
}


#populaires h3{

	
	margin-top: 0.5rem;
}



/* nuit a partir */
#populaires p{

	margin-top: -0.6rem;
}




/* etoiles */
.etoiles{

	font-size: 0.6rem;
	position: absolute;
	bottom: 0;
}




/* les 3 blocs popu sauf le fond gris */
#img-popu{

	padding-left: 2.5% ;  /* espace entre le bloc d'images et le fond gris */

}



#img-popu .bloc_populaire{

	background-color: white;
	border: 0.3rem white solid;
	border-radius: 1rem;
	box-shadow: 1rem 1rem 1rem #F2F2F2;
	display: flex;
	margin-bottom: 1.5rem;
	max-height: 9.5rem; 
	width: 100%;

}



#populaires figcaption{

	font-size: 0.8rem;
	position: relative;
	width: 100%;
	display: block;
}



#populaires .note{
	position: absolute;
	bottom: 0.5rem;
	margin: 0;
}



/* Section ACTIVITES a MARSEILLE */

/* pas de soulignements */
#Activites a{
	text-decoration: none;
}


#Activites {
	
	width: 100%;
	height: 100%;
	padding-bottom: 5rem;
	
}


#img-act img{

	width: 100% ;
	height: 100%;
	border-radius: 1rem ;
	background-color: white;
	box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #F2F2F2;
	padding: 0rem 0rem 2.8rem 0rem;
	margin: 0 -2rem 0 -2.3rem; /* ecart entre les images */
	object-fit: cover;
	
}

#img-act{
	display: flex;
}


/* toutes les div du bloc entier des images */
#image-vieux-port,#colonne2, #image-parc-calanques, #colonne4 {

	flex-grow: 1; /* flex-grow sert a faire des colonnes comme je le souhaite */ 
}



#Activites h3{

	font-size: 0.9rem;
	color: black;
	margin: -1.8rem 0 3rem -1.5rem; /* placement du titre et de l'ecart entre les titres et les images */
}



#Activites h2{

	font-size: 1.2rem;
}



#image-vieux-port , #fort-pomegues , #image-iles-frioul, #image-parc-calanques, #image-dame-garde, #image-parc-longchamp {

	display: flex;
	width: 100%;
	object-fit: cover;
	padding-bottom: 3rem;

}


/* sert a l'image vieux port et parc calanques pour mobile */
#img-act figure{

	display: flex;
}



#img-act #colonne2 figure, #img-act #colonne4 figure{

	max-height: 9rem;
	width: 100%;
}


/* taille image partie desktop uniquement */
#colonne4 img{

	width: 20rem;
	margin-left: -4.5rem;
}


/* taille image partie desktop uniquement */
#colonne2 img{

	width: 17rem;
	margin-left: -5rem;
}


/* placement du titre dans la partie pc uniquement */
#colonne4 h3 ,#colonne2 h3{

	margin-left: -3.7rem;
}


#colonne2{

	margin-right: 2rem;
}




/* FOOTER */

footer{

	background-color: #F2F2F2;
	
}


/* div pour les 3 categories */
	#foot{

	display: flex;
	padding: 1rem;
	}



	#foot a{ /* pas de soulignement */

	text-decoration: none;
	color: black ;
	}

	#foot a:hover{ /* sur les liens la couleur devient bleu */

	color:#0065FC;
	}

	#foot a:visited{

	color: black ;
	}

	#propos{

	flex-grow: 1;	/* la marge entre les blocs */
	}

	#charte{
 	flex-grow: 1;	/* la marge entre les blocs */

	}

	#Assistance{
	 flex-grow: 1;	/* la marge entre les blocs */
	}

	.etoile-grise{
	color: #F2F2F2;
	}









/* version mobile */
@media screen and (max-width: 700px){


#reservia{

	height: 100%;
	margin-left: 1rem;

	}



	#inscription{

	flex-direction: row;
	}



	#inscription nav{

		display: flex;
		margin-top: 3rem;

	}



	#inscription nav a:hover{

		padding: 0;
		border-bottom: 0.18rem solid #0065FC;
		border-top: none;
		padding-bottom: 0.5rem;
	}



	#heber, #act{

		padding: 0;
		position: absolute;
		top: 7rem;
		left: 0;
		width: 50%;
		text-align: center;
		margin-top: -1rem;

	}

	#act{

	left: 50%;

	}




	/* s'inscrire */
	#inscrire{

	padding: 0;
	padding-right: 1rem;
	}	



/* En plein centre ville ou pleine nature */
	#info{

	padding-left: 1rem;
	margin-bottom: 2rem;
	}



	/* barre de recherche */
	form p{

	margin-left: 1rem;
	}




/* logo i 500 loge... */
	#logements i{

	padding: 0.2rem 0.4rem 0.25rem 0.4rem;
	margin-bottom: 0.7rem;
	}


/* Plus de 500 log ... */
	#logements p{

	width: 95%;
	margin-left: 0.5rem;
	margin-right: 0;
	}



h1{

	width: 80%; /* 65 sur 100% de l'ecran est prit pour le titre */
	padding-left: 1rem;
	margin-top: 4rem;
	font-size: 1.3rem;
	}



	#filtres h3 {

	padding-left: 1rem;
	}

	#filtres p{
		padding-left: 0;
	}

	#filtres{

		display: inline-block;
	}


	#loupe{

		display: inline-block; /* ca saffiche comme un block */
	}


	#rechercher{

		display: none; /* ca saffiche pas */
	}


	



/*HEBERGEMENT */


	#bloc_resultats{

		display: flex;
		flex-direction: column-reverse;
	}


	#Hebergements{

		width: 100%;
		background-color: white;
		margin-right: 0;
		padding: 0;
	}



	#img-heber{

	display: block;
	margin: 0 0.7rem 0 -1.9rem;
	}


	#img-heber figure{ 
	
		display: block;
		margin-right: 10px;
	}


	#Hebergements img{

		width: 100%;
		margin: 0.5rem 0 0.5rem 0;
	}


	#afficherplus{

	margin: 10% 0 0% 5%;
	}

/* FIN HEBERGEMENT */

/* POPULAIRES */

	#populaires{

		width: 100%;
		border-radius: 0;
		padding: 0;
		border: none;
	}

/* logo bourse */
	#populaires h2 i{

	padding-right: 1rem;
	}


	#img-popu{

	
	width: 95%;
	padding-right: 0;
	}


	#populaires h3{

	width: 100%;
	}


	#populaires p{

	width: 100%;

	}


	
	#img-popu .bloc_populaire{

	width: 98%;
	border: 0.2rem white solid;
	box-shadow: none;
	max-height: 9rem; 
	
	}



/* FIN POPULAIRES */

/* ACTIVITES */


	#Activites{
	padding-bottom: 2rem;
	}


	#Activites h2{

	margin-left: 1.2rem;
	}



	#img-act{

		display: flex;
		flex-direction: column;
		margin-left: 0;
		margin-right: 0.5rem;
	}


	

	#img-act figure{

		max-height: 12rem;
		height: 9rem;
		position: relative;
		margin-left: 10px;
		margin-right: 5px;
	}



	#img-act img{

		margin: 0;
	}
	

	#Activites h3{

	margin-left: 1rem; /* marge du titre dans l'encadrement */
	}



	#colonne2 img{

	width: 100%;
	margin-left: 0;
	}


	/* pas d'ecart entre la colonne 2 et Calanques */
	#colonne2{
	margin-right: 0;
	}


	/* sur mobile ici j'ai C/C les valeurs de la partie desktop, j'enleve la marge que j'ai mise sur ecran pc mais je laisse dans les deux cas la largeur de l'ecran a 100% */
	#colonne4 img{

	width: 100%;
	margin-left: 0;
	}




	#foot{

		padding-left: 1rem;
		flex-direction: column;
		background-color:  #F2F2F2;
	}


	
	body{
		margin:0;
	}

}




/* TABLETTE */ 
@media screen and (min-width: 701px) and (max-width: 1000px){



	h1{
		margin-top: 2rem;
	}




	#filtres h3{

		margin-right: 0.8rem;

	}


/* eco familila romantique animaux */
	#filtres p{
		margin-left: -0.2rem;
	}


	#bloc_resultats{

		display: flex;
		flex-direction: column-reverse;
	}



	#Hebergements{

		width: 100%;
		background-color: #F2F2F2;
		margin-top: 2rem;
		padding: 0;
		padding-bottom: 2rem;

	}


/* le bloc entier d'images*/
	#img-heber{
	justify-content: space-around;
	margin-left: -3.7rem;
	}

	#populaires{

		width: 100%;
		border-radius: 1rem;
		padding: 0;
		border: none;
	}

/* logo bourse */
	#populaires h2 i{

	padding-right: 1rem;
	font-size: 1.5rem;
	}


	#img-popu{

	
	width: 95%;
	padding-right: 0;
	}


	#populaires h3{

	width: 100%;
	font-size: 1.2rem;
	}


	#populaires p{

	width: 100%;

	}


	
	#img-popu .bloc_populaire{

	width: 98%;
	border: 0.2rem white solid;
	box-shadow: none;
	max-height: 9rem; 
	
	}


	#populaires img{

	width: 80%;
	}



/* FIN POPULAIRES */

/* ACTIVITES */

	#Activites h2{

	margin-left: 1.2rem;
	}


/* pour que les images suivent la taille de l'ecran */
	#Activites a{

	width: 100%;
	}


	#img-act{

		display: flex;
		flex-direction: column;
		margin-left: 0;
		margin-right: 0.5rem;
	}


	

	#img-act figure{

		max-height: 12rem;
		height: 9rem;
		position: relative;
		margin-left: 10px;
		margin-right: 5px;
	}



	#img-act img{

		margin: 0;
	}
	

	#Activites h3{

	margin-left: 1rem; /* marge du titre dans l'encadrement */
	}



	#colonne2 img{

	width: 100%;
	margin-left: 0;
	}


	/* pas d'ecart entre la colonne 2 et Calanques */
	#colonne2{
	margin-right: 0;
	}


	/* sur mobile ici j'ai C/C les valeurs de la partie desktop, j'enleve la marge que j'ai mise sur ecran pc mais je laisse dans les deux cas la largeur de l'ecran a 100% */
	#colonne4 img{

	width: 100%;
	margin-left: 0;
	}




}




