body{
	font-family: 'Raleway', sans-serif; /* la police utilisée */
	font-size: 14px; /* la taille de la police */
}


/* < DEBUT DE LA TETE Inscription > */
	/* DIV entiere */

#inscription { /* les 3 liens ensemble */ 
	text-align: right ;
	margin-top: 2.5rem  ; /* la marge au dessus des liens d'inscriptions */
	width:-50%; /* l'espace que prend les liens */ 
}



#inscription a{ /* ce qu'on voit sur les 3 liens la couleur d'ecriture, pas soulignée etc.. */
	color: black;
	text-decoration: none; /* pas de soulignement */ 
	
}


#inscription a:hover{ /* le survol sur les 3 liens */
	color: #0065FC;
	border-top: 0.18rem solid #0065FC;
	padding-top: 2.3rem; /* la marge qu'il y'a entre les liens et le trait au survol */
}


#heber{
	padding: 2rem; /* la marge INTERIEUR sur les cotés de la categorie Hébergements */
}


#act{
	 /* la marge INTERIEUR sur les cotés de la categorie Activités */
	padding: 1.5rem;
}



	/* S'INSCRIRE */

.inscrire {
	font-weight: bold; /* gras */
	color: #0065FC;
	padding: 10px; /* marge interieur */ 
	margin-left: 10px;
}



header p{
	width: 10%;
	padding-top: -10px;

}

/* < FIN DE LA TETE > */



/* le logo reservia */
#reservia{
	
	width: 100px;
	margin-top: -30px;

}


h1 {
	text-align: left;
	font-size: 19px;
	margin: 1px;
	margin-top: 20px;

}



/* en plein centre ville ou en pleine nature */
#info{
	font-size : 0.9rem; /* la taille de l'ecriture */
	margin : 0.5rem 0rem 0.5rem 0rem; /* la marge exterieur entre le H1 et la recherche et de 0.5 en haut et en bas */ 
	
}



/* le bouton rechercher */
#rechercher{

	color: white;
	padding : 0.75rem 0.8rem 0.75rem 0.8rem ; /* l'ecart du bleu entre le rechercher et les contours */
	border-radius: 0rem 0.8rem 0.8rem 0rem; /* mettre un cadre autour */
	border-color:  #0065fc; /* les contours, les bordures sont bleu */
	background-color: #0065fc; /* la couleur de fond est bleu */
	cursor: pointer;
	margin-left: -0.1em;
}



/* logo noir recherche */ 
#localisation{
	background-color : #F2F2F2 ;
	padding : 0.91rem 0.97rem 0.97rem 0.97rem ; /* largeur interieur du gris a l'arriere du logo */
	border-radius : 1rem 0 0 1rem ; /* les contours gris du logo */ 
	color: black;
}

/* la barre de recherche */
#ville{
	padding : 0.75rem ;
	border : 0.15rem solid #F2F2F2;
	border-radius : #F2F2F2 ;
	margin : -0.25rem ;

}

/* TOUTE LA CATEGORIE FILTRES */
#filtres{
	display: flex;
	margin-right: 1rem;
	align-items: center;
}


/* Marge exterieur du Titre et Filtres */
#filtres h3 , p{
	margin-right: 0.5rem;
}


/* les 4 onglets du filtres Eco Familial Roman Animaux */
#filtres p{
	display: flex;
	font-weight: bold;
	border: 0.15rem solid #F2F2F2; /* l'encadrement, la bordure avec une taille specifique que j'ai choisi */
	border-radius:2rem;
	height: 2.215rem; /* la hauteur de l'encadrement, la bordure */
	padding: 0rem 1rem 0rem 0rem ; /* Marge interieur de l'encadrement, la bordure */
	margin-left: 0.8rem; /* la marge , l'ecart entre les categories de filtres */
	align-items: center; /* aligné les noms des filtres */ 
	cursor: pointer;
}

/* Les < i > de la categorie filtres */
#filtres i{

	margin:0.5rem 0.5rem 0.5rem -0.3rem; /* l'emplacement du rond dans le cadre, et l'ecart interieur entre le rond et le texte */
	background-color: #DEEBFF; /* couleur de fond du rond */
	padding :0.8rem ; /* marge interieur du rond par rapport au logo interieur */
	border-radius: 2rem;
	align-items: center;

}



.fas{ /* les logos en bleu */
	color :#0065fc;

}


#logements i{
	border: 0.15rem solid #F2F2F2; /* contour du i */
	border-radius: 1rem ; /* contour rond */
	width: 1.3rem; /* espace de droite a gauche entre le i et le contour */
	height:1.3rem; /* espace de haut en bas entre le i et le contour */
	justify-content: center; /* placement du i de droite a gauche*/
	align-items: center;  /* placement du i de haut en bas */
	margin-right: 1rem;

}


#logement p{

}

/* Section HEBERGEMENT a MARSEILLE 1 */

#Hebergements a{ /* pas de soulignement */
	text-decoration: none;
}



/* Toute la section */
#Hebergements{
	background-color: #F2F2F2;
	width: 60%;
	margin-right: 2rem;
	padding: 1.8rem ;
	border-radius: 1.5rem;
}

/* toutes les images */
#Hebergements div {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 60%;
}



#Hebergements img{ /* l'espace entre ID et IMG indique que SEULEMENT les images de cette DIV la seront modifier*/
	width: 100px ; 

}














/* Section 2 LES plus POPULAIRES */

#populaires img{
	width : 100px ;
}



/* Section ACTIVITES a MARSEILLE */

#Activites img{
	width : 100px;
	
}

















/* FOOTER */

#propos{
	

}



#charte{
	 
}



#Assistance{
	
}





.etoile-grise{
	color: #F2F2F2;
}














